USE [master]
GO
/****** Object:  Database [bankmore]    Script Date: 13/09/2025 22:06:05 ******/
CREATE DATABASE [bankmore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bankmore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\bankmore.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bankmore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\bankmore_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bankmore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bankmore]
GO
/****** Object:  Table [dbo].[contacorrente]    Script Date: 13/09/2025 22:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacorrente](
	[idcontacorrente] [uniqueidentifier] NOT NULL,
	[numero] [int] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[ativo] [bit] NOT NULL,
	[senha] [nvarchar](200) NOT NULL,
	[salt] [nvarchar](200) NOT NULL,
	[cpf] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idcontacorrente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idempotencia]    Script Date: 13/09/2025 22:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idempotencia](
	[chave_idempotencia] [uniqueidentifier] NOT NULL,
	[requisicao] [nvarchar](max) NULL,
	[resultado] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[chave_idempotencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimento]    Script Date: 13/09/2025 22:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimento](
	[idmovimento] [uniqueidentifier] NOT NULL,
	[idcontacorrente] [uniqueidentifier] NOT NULL,
	[datamovimento] [datetime] NOT NULL,
	[tipomovimento] [char](1) NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idmovimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarifa]    Script Date: 13/09/2025 22:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarifa](
	[idtarifa] [uniqueidentifier] NOT NULL,
	[idcontacorrente] [uniqueidentifier] NOT NULL,
	[datamovimento] [datetime] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idtarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transferencia]    Script Date: 13/09/2025 22:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transferencia](
	[idtransferencia] [uniqueidentifier] NOT NULL,
	[idcontacorrente_origem] [uniqueidentifier] NOT NULL,
	[idcontacorrente_destino] [uniqueidentifier] NOT NULL,
	[datamovimento] [datetime] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idtransferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[contacorrente] ([idcontacorrente], [numero], [nome], [ativo], [senha], [salt], [cpf]) VALUES (N'18601bec-c5f3-488a-aad1-50438d112c44', 654321, N'Bob Santos', 0, N'hash_senha_exemplo', N'salt_exemplo', N'73989419358')
INSERT [dbo].[contacorrente] ([idcontacorrente], [numero], [nome], [ativo], [senha], [salt], [cpf]) VALUES (N'0ede5993-2356-4856-8f4e-52ed9008b8f3', 928773, N'Nathan Enrico Pereira', 1, N'faNdZtvvESBFnQc26UGr1w1YnybMx81/YtepJSMJmDQ=', N'R5CnshW7ooFdR2fR1FV3+g==', N'52228978426')
INSERT [dbo].[contacorrente] ([idcontacorrente], [numero], [nome], [ativo], [senha], [salt], [cpf]) VALUES (N'd14c6288-a301-47ac-b5ad-7076d51d1f3d', 123456, N'Alice Silva', 1, N'hash_senha_exemplo', N'salt_exemplo', N'18970963480')
GO
/****** Object:  Index [UQ__contacor__FC77F211880CBA79]    Script Date: 13/09/2025 22:06:06 ******/
ALTER TABLE [dbo].[contacorrente] ADD UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contacorrente] ADD  DEFAULT (newid()) FOR [idcontacorrente]
GO
ALTER TABLE [dbo].[contacorrente] ADD  DEFAULT ((0)) FOR [ativo]
GO
ALTER TABLE [dbo].[contacorrente] ADD  DEFAULT ('') FOR [cpf]
GO
ALTER TABLE [dbo].[idempotencia] ADD  DEFAULT (newid()) FOR [chave_idempotencia]
GO
ALTER TABLE [dbo].[movimento] ADD  DEFAULT (newid()) FOR [idmovimento]
GO
ALTER TABLE [dbo].[tarifa] ADD  DEFAULT (newid()) FOR [idtarifa]
GO
ALTER TABLE [dbo].[transferencia] ADD  DEFAULT (newid()) FOR [idtransferencia]
GO
ALTER TABLE [dbo].[movimento]  WITH CHECK ADD FOREIGN KEY([idcontacorrente])
REFERENCES [dbo].[contacorrente] ([idcontacorrente])
GO
ALTER TABLE [dbo].[tarifa]  WITH CHECK ADD FOREIGN KEY([idcontacorrente])
REFERENCES [dbo].[contacorrente] ([idcontacorrente])
GO
ALTER TABLE [dbo].[transferencia]  WITH CHECK ADD FOREIGN KEY([idcontacorrente_origem])
REFERENCES [dbo].[contacorrente] ([idcontacorrente])
GO
ALTER TABLE [dbo].[transferencia]  WITH CHECK ADD FOREIGN KEY([idcontacorrente_destino])
REFERENCES [dbo].[contacorrente] ([idcontacorrente])
GO
ALTER TABLE [dbo].[movimento]  WITH CHECK ADD CHECK  (([tipomovimento]='D' OR [tipomovimento]='C'))
GO
USE [master]
GO
